body {
    background-image : url("../assets/background.jpg");
}

.container-fluid {
    width            : 70%;
    margin           : 3% auto 0 auto;
    background-color : #ffffff;
    padding: 2%;
}

.shadow-bottom{
    width: 72%;
    margin: 0 auto;
}

* {
    font-family : 'Cuprum';
}

.imgborder {
    border  : solid rgba(119, 119, 119, 0.26) 1px;
    padding : 5%;
    box-sizing: border-box;
    margin-bottom: 2%;
    /*margin: 5% 0 5% 0;*/

}

.main-info {
    margin-bottom : 2%;
    margin-top    : 2%;
}

.left img {
    margin : 15% auto 15%;
}

.left p.description {
    font-size  : 85%;
    border     : 1px solid;
    padding    : 1%;
    display    : block;
    text-align : justify;
}

a.orange-link {
    color           : #df8505;
    text-decoration : #df8505;
}

.right .call-us {
    font-size   : 200%;
    font-weight : 700;
    font-style  : italic;
    margin-top  : 2%;
}

.right .call-us .btn {
    margin         : -2% 0 0 2%;
    text-transform : uppercase;
    font-family    : 'Cuprum';
    font-size      : 50%;
}

.right .number {
    font-size   : 150%;
    font-weight : 700;
    font-style  : italic;
}

.right .info {
    font-size : 75%;
}

.right .email {
    font-size : 120%;
}

.right .email a {
    color           : #006dcc;
    text-decoration : none;
}

.footer {
    margin    : 2% 0 0 0;
    padding   : 0;
    width     : 100%;
    font-size : 90%;
    text-align: center;
}

.footer .copyright {
    font-size  : 110%;
    position   : relative;
    font-weight: bold;
    margin: 2% 0 0 0;
    padding: 0;
}

.indent {
    margin-top: 2%;
}

.indent-all {
    margin: 2% 0 2% 0;
}

.social-links {
    position : absolute;
    top      : 50%;
    right    : 0;
}

.text-justify {
    text-align : justify;
}

.text-center {
    text-align : center;
}

.text-bold {
    font-size: 110%;
    font-weight: bold;
}

.main-quote {
    font-size   : 200%;
    font-weight : bold;
    margin: 2% auto 2%;
}

.shadow {
    background-image  : url("../assets/header-shadow.png");
    min-height        : 10px;
    background-repeat : no-repeat;
}

p {
    margin-bottom : 2%;
}

ol {
    padding: 0;
    margin: 0;
    list-style-position:inside
}

.narrow, .right.narrow {
    display: none;
}