/*
html5doctor.com Reset Stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : 0;
    font-size      : 100%;
    vertical-align : baseline;
    background     : transparent;
}

body {
    line-height : 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display : block;
}

ul {
    list-style : none;
}

blockquote, q {
    quotes : none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content : '';
}

a {
    margin         : 0;
    padding        : 0;
    font-size      : 100%;
    vertical-align : baseline;
    background     : transparent;
}

/*
Main Stylesheet
*/
body {
    background-image : url("../assets/background.jpg");
}

.container-fluid {
    width            : 70%;
    margin           : 3% auto 0 auto;
    background-color : #ffffff;
    padding: 2%;
}

.shadow-bottom{
    width: 72%;
    margin: 0 auto;
}

* {
    font-family : 'Cuprum';
}

.imgborder {
    border  : solid rgba(119, 119, 119, 0.26) 1px;
    padding : 5%;
    box-sizing: border-box;
    margin-bottom: 2%;
    /*margin: 5% 0 5% 0;*/

}

.main-info {
    margin-bottom : 2%;
    margin-top    : 2%;
}

.left img {
    margin : 15% auto 15%;
}

.left p.description {
    font-size  : 85%;
    border     : 1px solid;
    padding    : 1%;
    display    : block;
    text-align : justify;
}

a.orange-link {
    color           : #df8505;
    text-decoration : #df8505;
}

.right .call-us {
    font-size   : 200%;
    font-weight : 700;
    font-style  : italic;
    margin-top  : 2%;
}

.right .call-us .btn {
    margin         : -2% 0 0 2%;
    text-transform : uppercase;
    font-family    : 'Cuprum';
    font-size      : 50%;
}

.right .number {
    font-size   : 150%;
    font-weight : 700;
    font-style  : italic;
}

.right .info {
    font-size : 75%;
}

.right .email {
    font-size : 120%;
}

.right .email a {
    color           : #006dcc;
    text-decoration : none;
}

.footer {
    margin    : 2% 0 0 0;
    padding   : 0;
    width     : 100%;
    font-size : 90%;
    text-align: center;
}

.footer .copyright {
    font-size  : 110%;
    position   : relative;
    font-weight: bold;
    margin: 2% 0 0 0;
    padding: 0;
}

.indent {
    margin-top: 2%;
}

.indent-all {
    margin: 2% 0 2% 0;
}

.social-links {
    position : absolute;
    top      : 50%;
    right    : 0;
}

.text-justify {
    text-align : justify;
}

.text-center {
    text-align : center;
}

.text-bold {
    font-size: 110%;
    font-weight: bold;
}

.main-quote {
    font-size   : 200%;
    font-weight : bold;
    margin: 2% auto 2%;
}

.shadow {
    background-image  : url("../assets/header-shadow.png");
    min-height        : 10px;
    background-repeat : no-repeat;
}

p {
    margin-bottom : 2%;
}

ol {
    padding: 0;
    margin: 0;
    list-style-position:inside
}

.narrow, .right.narrow {
    display: none;
}

@media (max-width : 1300px) {
    html {
        font-size: 90%;
    }
}

@media (max-width : 1200px) {
    html {
        font-size: 80%;
    }
    .navbar.navbar-inner {
        width: 100%;
    }
}

@media (max-width : 900px) {
    .container-fluid {
        width            : 98%;
        margin           : 0;
        padding          : 0 1% 0 1%;
    }
    .main-quote {
        font-size   : 150%;
        font-weight : 700;
        text-align  : center;
        /*margin: 10% auto;*/
    }
    .main-info .main-quote{
        margin: 10% auto;
    }
    .main-info .left p.description {
        display: none;
        visibility: hidden;
    }
    .main-info .right .info {
        display: none;
    }
    .imgborder {
        padding: 1%;
    }
}

@media (max-width : 650px) {
    .wide, .right.wide{
        display : none;
    }
    .narrow, .right.narrow{
        display: inline-block;
    }
    .right .call-us, .right .email{
        display: block;
    }
    .right img{
        margin: 12% 5% 0 5%;
    }

}

@media (max-width : 450px) {
    ul.nav .narrow{
        width: 20px;
    }

    .navbar .nav li a{
        padding: 8px 8px 6px 8px;
    }
    .main-quote {
        font-size   : 110%;
    }
    .social-links {
        position : static;
    }
    .row-fluid.columns .narrow-single-column{
        width: 95%;
        margin: 0 2.5% 0 2.5%;
    }
    .narrow-single-column img{
       margin: 2% 5% 2% 5%;
       width: 90%;
    }
    .indent-all{
        text-align: center;
    }
    .footer .copyright {
        font-size  : 90%;
        margin: 0;
    }
}